<!-- views/articleShow.handlebars -->

<div class="container bg-light">
<div class="row justify-content-center">

	<div class="col-lg-10 mt-4 p-2 bg-info rounded border border-dark">
			<h1 class="text-center text-white m-2">{{post.title}}</h1>
		</div>

		<!-- Image upload from server here -->
		<div class="col-lg-10 p-0 m-2" id="artImageContainer">
			<img src="/artImages/{{post.imagePath}}" alt="{{post.title}} image" class="img-responsive"  id="articleImage"/>
		</div>

		<div class="col-lg-10 m-2" id="postDes">
			<h3 class="mt-3">{{post.description}}</h3>
		</div>
	</div>

		
			<div class="row align-items-center">
				<div class="col-lg-10 mt-5 border border-info rounded" id="article-data">
			<p class="text-center">{{{data}}}</p>
				</div>
			</div>
		
			<div class="row">
				<div class="col-lg mt-2">
			<p class="text-dark">Article by: {{post.author}}</p>
		</div>
	</div>

		<div class="row">
			<div class="col-lg mt-0">
			<p class="text-dark">Posted on: {{post.createdOn}}</p>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg p-3">
{{> comments}}
</div>
</div>

<div class="row">
	<div class="col-lg p-3">
{{> showComment}}
</div>
</div>
</div>