<!-- views/articleShow.handlebars -->

<div class="container">
<div class="row">

<!-- Post Content Column -->
	<div class="col-lg-8">

		<!-- Title -->
			<h1 class="mt-4">{{post.title}}</h1>

		<!-- Author -->
			<p class="lead">
				by
				<a href="#">{{post.author}}</a>
			</p>

		<hr>

		<!-- Date/Time -->
		<p>Posted on: {{post.createdOn}}</p>

		<hr>

		<!-- Preview Image -->
		<img src="/artImages/{{post.imagePath}}" alt="{{post.title}} image" class="img-fluid rounded"  id="articleImage"/>
		
		<hr>

		<!-- Post Content -->
		<p class="text-center">{{{data}}}</p>


		<!-- Comments Form -->
		<div class="card my-4">
			<div class="card-body">
				{{> comments}}
			</div>
		</div>


		<!-- Show Comments -->
		<div class="media mb-4">
			<div class="media-body">
				{{> showComment}}
			</div>
		</div>


		<!-- Pagination -->
		<ul class="pagination mb-4">
			<li class="page-item">
			<a class="page-link bg-info text-white" href="/">&larr; Home</a>
			</li>
		</ul>



	</div>


	<!-- Sidebar Widgets Column -->

{{> sideWidget}}

</div>
<!-- /.row -->

</div>
<!-- /.container -->