<!-- views/home.handlebars -->

<h4 class="text-center text-dark mt-4 mb-0"><b>Stand Out. Be Heard. Be Remebered.</b></h4>


<!-- Header/carousel -->

	<div class="container mt-3" id="headerId">
		<div class="row" id="the-great-header">
			<div class="col-4 p-0" id="header-img">
				<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" target="_blank">
				<img src="/images/words2-cover.jpg" alt="words cover" class="img-fluid border border-dark" id="pic"/>
				</a>
			</div>
			<div class="col-8 p-0">
			{{> carousel}}
			</div>
		</div>
	</div>


<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">

		<!-- Heading -->	
		<h1 class="my-4">
			{{#if currentUser}}
			Hi {{currentUser.username}}! Check out what's new!
			{{/if}}
		</h1>


		<!-- Welcome Text -->
			<p class="text-left text-dark">Welcome to Great Human Skills!</p>


		<!--	<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;Be sure to join the mailing list and be the first to know when new content is added. You can <a href="/sign-up">Sign Up Here.</a></p>

			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;Otherwise, here’s a <a href="/allYouveGot">Book</a> that you should take a moment to consider. It is, after all, solely responsible for this entire endeavor. <a href="/allYouveGot">Check It Out Here!</a></p> -->

			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;We're a community dedicated to the exploration and mastery of human communication. We’re here to help you recognize the true power of words, for they describe your dreams, define your goals, and make things happen! The words you tell yourself and others make up your reality, and by learning how to properly use those words you’ll gain the power to mold that reality in any shape you chose, and in the process you’ll get more people to listen to your ideas, become a more effective leader, and command attention and respect through your every day communications.</p>

			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;So, welcome. Have a look around, see what we’re about, and when you’re ready go ahead and become a part of our <a href="/sign-up">Community.</a></p>

			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;Also be sure to take a moment to check out our fantastic book <a href="/allYouveGot">Words Are All You've Got!</a>, a resource no one should live without.</p>

			<p class="text-left text-dark">Enjoy!</p>
		<!-- End of Welcome Text -->


	<!-- Blogs Preview Display -->
	{{#if find}}
	{{#each find}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>
	{{/each}}
	{{/if}}



	<!-- If the user searched by title from Widget -->
	{{#if title}}
	{{#each title}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



	<!-- If the user searched by author from Widget -->
	{{#if author}}
	{{#each author}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



<!-- If the user searched by category from Widget -->
	{{#if cat}}
	{{#each cat}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



	<!-- If the user searched by LINK from Widget -->
	{{#if catFind}}
	{{#each catFind}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}


	<!-- End of blog display preview -->



	<!-- Pagination -->
	<ul class="pagination justify-content-center mb-4">
		<li class="page-item">
			<form method="POST" action="/">
				<input type="hidden" name="minus" value="-1">
				<button type="submit" class="btn btn-outline-info">&larr; Older</button>
			</form>
		</li>
		<li class="page-item">
			<form method="POST" action="/">
				<input type="hidden" name="plus" value="1">
				<button type="submit" class="btn btn-outline-info">Newer &rarr;</button>
			</form>
		</li>
	</ul>

		<div class="mt-3">
			<p class="text-center text-muted">Page: {{page}}</p>
		</div>


	</div>


	<!-- Sidebar Widgets Column -->

{{> sideWidget}}

</div>
<!-- /.row -->

</div>
<!-- /.container -->
