<!-- views/home.handlebars -->

<h4 class="text-center text-dark mt-4 mb-0"><b>The Professional's Guide To Effective Writing!</b></h4>


<!-- Header/carousel -->

	<div class="container mt-3" id="headerId">
		<div class="row" id="the-great-header">
			<div class="col-4 p-0" id="header-img">
				<a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" target="_blank">
				<img src="/images/words2-cover.jpg" alt="words cover" class="img-fluid border border-dark" id="pic"/>
				</a>
			</div>
			<div class="col-8 p-0">
			{{> carousel}}
			</div>
		</div>
	</div>


<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">

		<!-- Heading -->	
		<h1 class="my-4">
			{{#if currentUser}}
			Hi {{currentUser.username}}! Check out what's new!
			{{/if}}
		</h1>


		<!-- Welcome Text -->
			<p class="text-left text-dark">Welcome to Great Human Skills!</p>


			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;We're a community dedicated to helping busy professionals excel in their personal and professional lives! If you're a professional realtor, a salesperson, a software developer, a marketer, a blogger, or a professional of any profession, then we want to show you that you <strong><em>can</em></strong> be successful in your business, you <strong><em>can</em></strong> cook great meals, you <strong><em>can</em></strong> get in shape, and you <strong><em>can</em></strong> effectively manage your time if you're willing to learn how to harness the power of the words you tell yourself and those you tell others.</p>

			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;To get you started on this exciting journey, we offer you this site, our home, to which you can come and learn from our articles, as well as <strong>Andy X. Ash's</strong> book: <a href="https://www.amazon.com/dp/B07MX5JYLS/ref=sr_1_fkmrnull_2?keywords=Words+are+all+you%27ve+got%21&qid=1547818159&s=Books&sr=1-2-fkmrnull" target="_blank">Words Are All You've Got!</a> from which you can learn all of the writing advice and grammar you NEED in order to be professional, and nothing more! It's a truly valuable resource that no serious professional should live without.</p>
 

			<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;So welcome, and if you'd like to help us to inspire, encourage, and excite people from all over the world, then your first step is to join our <a href="/sign-up">Community</a>, and follow us on <a href="https://twitter.com/greathumanskill?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-dnt="true" data-show-count="false">Follow @greathumanskill</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>

		<!--	<p class="text-left text-dark">&nbsp; &nbsp; &nbsp; &nbsp;Also be sure to check out our fantastic book <a href="/allYouveGot">Words Are All You've Got!</a>, a resource no professional should live without.</p> -->

			<p class="text-left text-dark">Enjoy!</p>
		<!-- End of Welcome Text -->


	<!-- Blogs Preview Display -->
	{{#if find}}
	{{#each find}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title text-primary"><a href="/posts/{{this._id}}">{{this.title}}</a></h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>
	{{/each}}
	{{/if}}



	<!-- If the user searched by title from Widget -->
	{{#if title}}
	{{#each title}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



	<!-- If the user searched by author from Widget -->
	{{#if author}}
	{{#each author}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



<!-- If the user searched by category from Widget -->
	{{#if cat}}
	{{#each cat}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



	<!-- If the user searched by LINK from Widget -->
	{{#if catFind}}
	{{#each catFind}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}


	<!-- End of blog display preview -->



	<!-- Pagination -->
	<ul class="pagination justify-content-center mb-4">
		<li class="page-item">
			<form method="POST" action="/">
				<input type="hidden" name="minus" value="-1">
				<button type="submit" class="btn btn-outline-info">&larr; Older</button>
			</form>
		</li>
		<li class="page-item">
			<form method="POST" action="/">
				<input type="hidden" name="plus" value="1">
				<button type="submit" class="btn btn-outline-info">Newer &rarr;</button>
			</form>
		</li>
	</ul>

		<div class="mt-3">
			<p class="text-center text-muted">Page: {{page}}</p>
		</div>


	</div>


	<!-- Sidebar Widgets Column -->

{{> sideWidget}}

</div>
<!-- /.row -->

</div>
<!-- /.container -->
