<!-- views/home.handlebars -->


<!-- Header/carousel -->

	<div class="container mt-5">
		<div class="row w-100 justify-content-center" id="the-great-header">
			<div class="col-md-4 m-0 p-0" id="header-img">
				<img src="/images/words2-cover.jpg" alt="words cover" class="img-responsive h-100 w-50 border border-dark" id="pic"/>
			</div>
			<div class="col-md-8 m-0 p-0">
				{{> carousel}}
			</div>
		</div>
	</div>


<!-- Page Content -->
<div class="container">

	<div class="row">

		<!-- Blog Entries Column -->
		<div class="col-md-8">

		<!-- Heading -->	
		<h1 class="my-4">
			{{#if currentUser}}
			Hi {{currentUser.username}}! Check out what's new!
			{{/if}}
		</h1>


		<!-- Welcome Text -->
				<p class="text-left text-dark">Yes, we're new! It's been a long journey here, but we made it out of sheer arrogance. Don't worry, though, there will be plenty of content added here on a regular basis. Join the mail list and be the first to know when new content is added, <a href="/sign-up">Sign up here</a>. Othewise, here's a <a href="/allYouveGot">book</a> that you should give me all your money for, you fucking fuckers. Don't wait! <a href="/allYouveGot">Check It Out Now!</a></p>
		<!-- End of Welcome Text -->


	<!-- Blogs Preview Display -->
	{{#if find}}
	{{#each find}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>
	{{/each}}
	{{/if}}



	<!-- If the user searched by title from Widget -->
	{{#if title}}
	{{#each title}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



	<!-- If the user searched by author from Widget -->
	{{#if author}}
	{{#each author}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



<!-- If the user searched by category from Widget -->
	{{#if cat}}
	{{#each cat}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}



	<!-- If the user searched by LINK from Widget -->
	{{#if catFind}}
	{{#each catFind}}
	<div class="card mb-4">
		<img class="card-img-top" src="artImages/{{this.imagePath}}" alt="Blog post image">
		<div class="card-body">
			<h2 class="card-title">{{this.title}}</h2>
			<p class="card-text">{{this.description}}</p>
			<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
		</div>
		<div class="card-footer text-muted">
			Posted on: {{this.createdOn}}
		</div>
	</div>

	{{/each}}
	{{/if}}


	<!-- End of blog display preview -->



	<!-- Pagination -->
	<ul class="pagination justify-content-center mb-4">
		<li class="page-item">
			<form method="POST" action="/">
				<input type="hidden" name="minus" value="-1">
				<button type="submit" class="btn btn-outline-info">&larr; Older</button>
			</form>
		</li>
		<li class="page-item">
			<form method="POST" action="/">
				<input type="hidden" name="plus" value="1">
				<button type="submit" class="btn btn-outline-info">Newer &rarr;</button>
			</form>
		</li>


	</div>


	<!-- Sidebar Widgets Column -->

{{> sideWidget}}

</div>
<!-- /.row -->

</div>
<!-- /.container -->
