<!-- views/home.handlebars -->


<!-- Header/carousel -->

	<div class="container mt-5">
		<div class="row w-100 justify-content-center" id="the-great-header">
			<div class="col-md-4 m-0 p-0" id="header-img">
				<img src="/images/words2-cover.jpg" alt="words cover" class="img-responsive h-100 w-50 border border-dark" id="pic"/>
			</div>
			<div class="col-md-8 m-0 p-0">
				{{> carousel}}
			</div>
		</div>
	</div>




		<div class="col-12 mt-2">
			{{#if currentUser}}
			<p class="text-center" id="user-text">Hi, {{currentUser.username}}! Check out what's new!</p>
			{{else}}
			{{/if}}
		</div>
		

		<!-- Welcome Text -->
		<div class="row justify-content-center m-3 p-3">
			<div class="col-md-12">
				<p class="text-left text-dark">Yes, we're new! It's been a long journey here, but we made it out of sheer arrogance. Don't worry, though, there will be plenty of content added here on a regular basis. Join the mail list and be the first to know when new content is added, <a href="/sign-up">Sign up here</a>. Othewise, here's a <a href="/allYouveGot">book</a> that you should give me all your money for, you fucking fuckers. Don't wait! <a href="/allYouveGot">Check It Out Now!</a></p>
			</div>
		</div>
	
		<!-- End of Welcome Text -->


<!-- Blogs Preview Display -->
<div class="container-fluid">
		<div class="row justify-content-center m-1 p-1">
			{{#each find}}
			
			<div class="col-sm-6 mb-3">
			<div class="card" id="card-temp">
				<div class="card-header p-3 bg-info text-white">
					Category: {{this.category}}
				</div>
				<div class="card-body">
					<h5 class="card-title">{{this.title}}</h5>
					<p class="card-text">{{this.description}}</p>
					<p class="card-footer">Posted On: {{this.createdOn}}</p>
					<a href="/posts/{{this._id}}" class="btn btn-success">Read On</a>
				</div>
			</div>
		</div>
			{{/each}}
		</div>
	</div>

	<!-- End of blog display preview -->

	</div>
